.main-users-container{
 width:100%;
 display: flex;
 justify-content: space-around;
}
app-usres-list{
    width:60%;
    border-right:1px solid gray;
}
app-selected-user{
    width:100%;
}
app-chart {
    width:60%;
}
.main-Chart {
    display: flex;
    justify-content: space-around;

}